body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#loading, #error {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

#error {
    background: #ffcccc;
    color: red;
}

.pac-container {
    z-index: 1051 !important;
}