# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
node_modules/
*.json

# Environment variables
.env

# MacOS specific files
.DS_Store

# Other files
*.log